body {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

/* Set the style for the page header */
h1 {
  text-align: center;
  font-size: 36px;
  margin-top: 50px;
}

/* Set the style for the section headers */
h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Set the style for the tables */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}

table td {
  border: 1px solid #ccc;
  padding: 10px;
}

/* Set the style for the links */
a {
  color: #007bff;
}

/* Set the style for the chart container */
#chart-container {
  width: 800px;
  height: 400px;
  margin: auto;
}