html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="submit"],
input[type="button"] {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  font-size: 24px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type="button"] {
  background-color: #008CBA;
  color: white;
  cursor: pointer;
}

a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px;
  background-color: #008CBA;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
 font-size: 24px
}

a:hover {
  background-color: #005266;
}