/* Apply box-sizing border-box to all elements, reset margin and padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set a default font for the entire page */
body {
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Main content styles */
main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    font-weight: bold;
    background-color: #f2f2f2;
}

/* Form styles */
form {
    display: inline-block;
}

/* Style input[type="text"] and input[type="password"] */
input[type="text"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    background-color: #f2f2f2;
    width: 100%;
    box-sizing: border-box;
}

/* Style input[type="submit"] */
input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

/* Style link */
a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    background-color: #008CBA;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

a:hover {
    background-color: #005266;
}
p, a , h1{
  text-align: center;
}