<!DOCTYPE html>
<html>
  <head>
      <title>Stock Info</title>
      <title>Time Series Chart</title>
      <link rel="stylesheet" type="text/css" href="/static/styles.css">
  </head>
  <body>
    <h1>{{ symbol }} Stock Info</h1>
    <h2>Symbol: {{ symbol }}</h2>
    <div>
    <table>
      <tr>
        <td>Name:</td>
        <td>{{ company_overview['Name'] }}</td>
      </tr>
      <tr>
        <td>Description:</td>
        <td>{{ company_overview['Description'] }}</td>
      </tr>
      <tr>
        <td>Exchange:</td>
        <td>{{ company_overview['Exchange'] }}</td>
      </tr>
      <tr>
        <td>Sector:</td>
        <td>{{ company_overview['Sector'] }}</td>
      </tr>
      <tr>
        <td>Industry:</td>
        <td>{{company_overview['Industry'] }}</td>
      </tr>
      <tr>
        <td>Market Capitalization:</td>
        <td>{{ company_overview['MarketCapitalization'] }}</td>
      </tr>
      <tr>
        <td>P/E Ratio:</td>
        <td>{{ company_overview['PERatio'] }}</td>
      </tr>
      <tr>
        <td>Dividend per Share:</td>
        <td>{{ company_overview['DividendPerShare'] }}</td>
      </tr>
      <tr>
        <td>Dividend Yield:</td>
        <td>{{ company_overview['DividendYield'] }}</td>
      </tr>
      <tr>
        <td>52 Week High:</td>
        <td>{{ company_overview['52WeekHigh'] }}</td>
      </tr>
      <tr>
        <td>52 Week Low:</td>
        <td>{{ company_overview['52WeekLow'] }}</td>
      </tr>
    </table>
    </div>


    <div>
      <h2>{{ company_overview['Name'] }} Latest Stock Price  </h2>
      <table>
        <tr>
          <td>Current_price:</td>
          <td>{{ stock_info['current_price'] }}</td>
        </tr>
        <tr>
          <td>Previous_close:</td>
          <td>{{ stock_info['previous_close'] }}</td>
        </tr>
        <tr>
          <td>Previous_open:</td>
          <td>{{ stock_info['previous_open'] }}</td>
        </tr>
        <tr>
          <td>Previous_vol:</td>
          <td>{{ stock_info['previous_vol'] }}</td>
        </tr>
    </table>
    </div>

    <div>
  <h2>{{ company_overview['Name'] }} Five News  </h2>
  <table>
      <tr>
        <td>Title:</td>
        <td>{{ company_news[0]['title'] }}</td>
      </tr>
      <tr>
        <td>Website:</td>
        <td><a href="{{ company_news[0]['url'] }}">{{ company_news[0]['url'] }}</a></td>
      </tr>
      <tr>
        <td>Summary:</td>
        <td>{{ company_news[0]['summary'] }}</td>
      </tr>
    </table>
  <table>
      <tr>
        <td>Title:</td>
        <td>{{ company_news[1]['title'] }}</td>
      </tr>
      <tr>
        <td>Website:</td>
        <td><a href="{{ company_news[1]['url'] }}">{{ company_news[1]['url'] }}</a></td>
      </tr>
      <tr>
        <td>Summary:</td>
        <td>{{ company_news[1]['summary'] }}</td>
      </tr>
    </table>
  <table>
      <tr>
        <td>Title:</td>
        <td>{{ company_news[2]['title'] }}</td>
      </tr>
      <tr>
        <td>Website:</td>
        <td><a href="{{ company_news[2]['url'] }}">{{ company_news[2]['url'] }}</a></td>
      </tr>
      <tr>
        <td>Summary:</td>
        <td>{{ company_news[2]['summary'] }}</td>
      </tr>
    </table>
  <table>
      <tr>
        <td>Title:</td>
        <td>{{ company_news[3]['title'] }}</td>
      </tr>
      <tr>
        <td>Website:</td>
        <td><a href="{{ company_news[3]['url'] }}">{{ company_news[3]['url'] }}</a></td>
      </tr>
      <tr>
        <td>Summary:</td>
        <td>{{ company_news[3]['summary'] }}</td>
      </tr>
    </table>
  <table>
      <tr>
        <td>Title:</td>
        <td>{{ company_news[4]['title'] }}</td>
      </tr>
      <tr>
        <td>Website:</td>
        <td><a href="{{ company_news[4]['url'] }}">{{ company_news[4]['url'] }}</a></td>
      </tr>
      <tr>
        <td>Summary:</td>
        <td>{{ company_news[4]['summary'] }}</td>
      </tr>
    </table>
    </div>
     <div>
        <h2>{{ company_overview['Name'] }} Stock Trend (1 yr)  </h2>
    </div>

   <div>
       <img src='data:image/png;base64,{{data}}'/>
    </div>
  <a href="{{ url_for('index') }}">Back to home</a>
  </body>
</html>
