<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
	 <link rel="stylesheet"  href="static/login.css"/>
</head>
<body>
    <form method="post">
		<label for="userid">UserID:</label>
		<input type="text" id="userid" name="userid"><br><br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password"><br><br>
		<input type="submit" value="Login">
		<input type="button" value="Register" onclick="window.location.href='register'">
	</form>
	<p style="color:red;">
	{% if error %}
		{{ error }}
	{% endif %}
	</p>
</body>
</html>