<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post/Home</title>
	 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.css"/>
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"/>
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css"/>
     <link rel="stylesheet"  href="static/post.css"/>

</head>
<body>
    <p>Welcome,{{username}} <span ></span> |<a href="{{ url_for('login') }}">Log Out</a>
    <h1>Tracking</h1>
	<p>Category : Stock <span></span> | <a href="{{ url_for('search') }}">Add</a>
	    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
<!--                <th>User ID</th>-->
                <th>Tracking List</th>
                <th>Symbol</th>
                <th>Date Time</th>
                <th>Tracking Price</th>
                <th>Volume</th>
                <th>Current Price</th>
                <th>Percentage Change</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
<!--                    <td>{{ row[0] }}</td> -->

                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>

                    <td>
                        <form method="POST" action="{{ url_for('post') }}">
                            <input type="hidden" name="symbol" value="{{ row[2] }}">
                            <input type="submit" name="submit" value="Update">
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="{{ url_for('post') }}">
                            <input type="hidden" name="symbol" value="{{ row[2] }}">
                            <input type="submit" name="submit" value="Delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!--引入jQuery库-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#example').DataTable();
        } );
    </script>
</body>
</html>