<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
	<link rel="stylesheet"  href="static/login.css"/>
</head>
<body>
  <form method="post">
		<label for="userid">Userid:</label>
		<input type="text" id="userid" name="userid"><br><br>
		<label for="username">Username:</label>
		<input type="text" id="username" name="username"><br><br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password"><br><br>
		<input type="submit" value="Register">
	    <a href="{{ url_for('login') }}">Back to Login</a>
	</form>
	<br>
	<p style="color:red;">
	{% if error_msg %}
		{{ error_msg }}
	{% endif %}
	</p>

</body>
</html>