<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search & Add new stocks/equities/commodities</title>
	<link rel="stylesheet"  href="static/login.css"/>
</head>
<body>
	<form method="POST">
		<label for="symbol">Symbol:</label>
		<input type="text" id="symbol" name="symbol"><br><br>
		<label for="tracking_price">Tracking_Price:</label>
		<input type="text" id="tracking_price" name="tracking_price"><br><br>
		<label for="volume">Volume:</label>
		<input type="text" id="volume" name="volume"><br><br>
		<input type="submit" value="Submit">
		 <a href="{{ url_for('post') }}">Back_to_Home</a>
	</form>

	<p style="color:red;">
	{% if error %}
		{{ error }}
	{% endif %}
	</p>
</body>
</html>