{% extends 'base.html' %}

{% block header %}
Stock History Price
{% endblock %}

{% block content %}
    <div>
      <label for="symbol-select">Select a stock:</label>
      <select id="symbol-select">
        <option value="" selected></option>
        <option value="AAPL">Apple</option>
        <option value="GME">GameStop</option>
        <option value="SPY">S&P 500</option>
        <option value="TSLA">Tesla</option>
      </select>
    </div>

    <div id="myDiv" style="width: 800px; height: 400px;" class="js-plotly-plot">
        <div class="plot-container plotly">
            <div class="user-select-none svg-container" style="position: relative; width: 800px; height: 400px;">
                <svg class="main-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800" height="400" style="background: rgb(255, 255, 255);">
                    <defs id="defs-d9e405">
                        <g class="clips">
                            <clipPath id="clipd9e405xyplot" class="plotclip">
                                <rect width="640" height="220"></rect></clipPath><clipPath class="axesclip" id="clipd9e405x"><rect x="80" y="0" width="640" height="400"></rect>
                            </clipPath>
                            <clipPath class="axesclip" id="clipd9e405y">
                                <rect x="0" y="100" width="800" height="220"></rect>
                            </clipPath>
                            <clipPath class="axesclip" id="clipd9e405xy">
                                <rect x="80" y="100" width="640" height="220"></rect>
                            </clipPath>
                        </g>
                        <g class="gradients"></g>
                        <g class="patterns"></g>
                    </defs>
                    <g class="bglayer"></g>
                    <g class="draglayer cursor-crosshair">
                        <g class="xy">
                            <rect class="nsewdrag drag" data-subplot="xy" x="80" y="100" width="640" height="220" style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                            <rect class="nwdrag drag cursor-nw-resize" data-subplot="xy" x="60" y="80" width="20" height="20" style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                            <rect class="nedrag drag cursor-ne-resize" data-subplot="xy" x="720" y="80" width="20" height="20" style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                            <rect class="swdrag drag cursor-sw-resize" data-subplot="xy" x="60" y="320" width="20" height="20" style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                            <rect class="sedrag drag cursor-se-resize" data-subplot="xy" x="720" y="320" width="20" height="20" style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                            <rect class="ewdrag drag cursor-ew-resize" data-subplot="xy" x="144" y="320.5" width="512" height="20" style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                            <rect class="wdrag drag cursor-w-resize" data-subplot="xy" x="80" y="320.5" width="64" height="20" style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                            <rect class="edrag drag cursor-e-resize" data-subplot="xy" x="656" y="320.5" width="64" height="20" style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                            <rect class="nsdrag drag cursor-ns-resize" data-subplot="xy" x="59.5" y="122" width="20" height="176" style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                            <rect class="sdrag drag cursor-s-resize" data-subplot="xy" x="59.5" y="298" width="20" height="22" style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                            <rect class="ndrag drag cursor-n-resize" data-subplot="xy" x="59.5" y="100" width="20" height="22" style="fill: transparent; stroke-width: 0; pointer-events: all;"></rect>
                        </g>
                    </g>
                    <g class="layer-below">
                        <g class="imagelayer"></g>
                        <g class="shapelayer"></g>
                    </g>
                    <g class="cartesianlayer">
                        <g class="subplot xy">
                            <g class="layer-subplot">
                                <g class="shapelayer"></g>
                                <g class="imagelayer"></g>
                            </g>
                            <g class="minor-gridlayer">
                                <g class="x"></g>
                                <g class="y"></g>
                            </g>
                            <g class="gridlayer">
                                <g class="x">
                                    <path class="xgrid crisp" transform="translate(175.63,0)" d="M0,100v220" style="stroke: rgb(238, 238, 238); stroke-opacity: 1; stroke-width: 1px;"></path>
                                    <path class="xgrid crisp" transform="translate(278.62,0)" d="M0,100v220" style="stroke: rgb(238, 238, 238); stroke-opacity: 1; stroke-width: 1px;"></path>
                                    <path class="xgrid crisp" transform="translate(381.61,0)" d="M0,100v220" style="stroke: rgb(238, 238, 238); stroke-opacity: 1; stroke-width: 1px;"></path>
                                    <path class="xgrid crisp" transform="translate(484.6,0)" d="M0,100v220" style="stroke: rgb(238, 238, 238); stroke-opacity: 1; stroke-width: 1px;"></path>
                                    <path class="xgrid crisp" transform="translate(587.5899999999999,0)" d="M0,100v220" style="stroke: rgb(238, 238, 238); stroke-opacity: 1; stroke-width: 1px;"></path>
                                    <path class="xgrid crisp" transform="translate(690.57,0)" d="M0,100v220" style="stroke: rgb(238, 238, 238); stroke-opacity: 1; stroke-width: 1px;"></path>
                                </g>
                                <g class="y">
                                    <path class="ygrid crisp" transform="translate(0,310.12)" d="M80,0h640" style="stroke: rgb(238, 238, 238); stroke-opacity: 1; stroke-width: 1px;"></path>
                                    <path class="ygrid crisp" transform="translate(0,267.13)" d="M80,0h640" style="stroke: rgb(238, 238, 238); stroke-opacity: 1; stroke-width: 1px;"></path>
                                    <path class="ygrid crisp" transform="translate(0,224.14)" d="M80,0h640" style="stroke: rgb(238, 238, 238); stroke-opacity: 1; stroke-width: 1px;"></path>
                                    <path class="ygrid crisp" transform="translate(0,181.16)" d="M80,0h640" style="stroke: rgb(238, 238, 238); stroke-opacity: 1; stroke-width: 1px;"></path>
                                    <path class="ygrid crisp" transform="translate(0,138.17000000000002)" d="M80,0h640" style="stroke: rgb(238, 238, 238); stroke-opacity: 1; stroke-width: 1px;"></path>
                                </g>
                            </g>
                            <g class="zerolinelayer"></g>
                            <path class="xlines-below"></path>
                            <path class="ylines-below"></path>
                            <g class="overlines-below"></g>
                            <g class="xaxislayer-below"></g>
                            <g class="yaxislayer-below"></g>
                            <g class="overaxes-below"></g>
                            <g class="plot" transform="translate(80,100)" clip-path="url(#clipd9e405xyplot)">
                                <g class="scatterlayer mlayer">
                                    <g class="trace scatter tracea47bf6" style="stroke-miterlimit: 2; opacity: 1;">
                                        <g class="fills"></g>
                                        <g class="errorbars"></g>
                                        <g class="lines">
                                            <path class="js-line" d="M0,177.88L7.36,172.46L14.71,194.81L22.07,182.26L29.43,189.4L51.49,194.81L58.85,142.37L66.21,142.97L73.56,135.32L80.92,152.86L102.99,139.36L110.34,107.98L117.7,115.89L125.06,107.21L154.48,66.63L161.84,82.27L169.2,92.16L176.55,101.02L205.98,129.22L213.33,115.46L220.69,153.37L228.05,116.23L235.4,106.52L257.47,132.91L264.83,134.46L272.18,116.49L279.54,133.51L286.9,148.73L316.32,142.8L323.68,106.69L331.03,65.08L338.39,46.16L360.46,13.06L367.82,11L375.17,20.46L389.89,107.29L411.95,88.55L419.31,81.24L426.67,90.27L434.02,60.61L441.38,66.02L463.45,64.73L470.8,72.47L478.16,77.8L485.52,80.04L492.87,77.97L522.3,96.72L529.66,116.92L537.01,126.64L544.37,125.26L566.44,158.53L573.79,159.74L581.15,164.12L588.51,201.61L595.86,199.28L617.93,143.14L625.29,166.1L632.64,192.41L640,209" style="vector-effect: non-scaling-stroke; fill: none; stroke: rgb(31, 119, 180); stroke-opacity: 1; stroke-width: 2px; opacity: 1;"></path>
                                        </g>
                                        <g class="points"></g>
                                        <g class="text"></g>
                                    </g>
                                </g>
                            </g>
                            <g class="overplot"></g>
                            <path class="xlines-above crisp" d="M0,0" style="fill: none;"></path>
                            <path class="ylines-above crisp" d="M0,0" style="fill: none;"></path>
                            <g class="overlines-above"></g>
                            <g class="xaxislayer-above">
                                <g class="xtick">
                                    <text text-anchor="middle" x="0" y="333" data-unformatted="Dec 20<br>2020" data-math="N" transform="translate(175.63,0)" style="font-family: &quot;Open Sans&quot;, verdana, arial, sans-serif; font-size: 12px; fill: rgb(68, 68, 68); fill-opacity: 1; white-space: pre; opacity: 1;">
                                        <tspan class="line" dy="0em" x="0" y="333">Dec 20</tspan>
                                        <tspan class="line" dy="1.3em" x="0" y="333">2020</tspan>
                                </text>
                                </g>
                                <g class="xtick">
                                    <text text-anchor="middle" x="0" y="333" data-unformatted="Jan 3<br>2021" data-math="N" style="font-family: &quot;Open Sans&quot;, verdana, arial, sans-serif; font-size: 12px; fill: rgb(68, 68, 68); fill-opacity: 1; white-space: pre; opacity: 1;" transform="translate(278.62,0)">
                                        <tspan class="line" dy="0em" x="0" y="333">Jan 3</tspan>
                                        <tspan class="line" dy="1.3em" x="0" y="333">2021</tspan>
                                    </text>
                                </g>
                                <g class="xtick">
                                    <text text-anchor="middle" x="0" y="333" data-unformatted="Jan 17" data-math="N" style="font-family: &quot;Open Sans&quot;, verdana, arial, sans-serif; font-size: 12px; fill: rgb(68, 68, 68); fill-opacity: 1; white-space: pre; opacity: 1;" transform="translate(381.61,0)">Jan 17</text>
                                </g>
                                <g class="xtick">
                                    <text text-anchor="middle" x="0" y="333" data-unformatted="Jan 31" data-math="N" style="font-family: &quot;Open Sans&quot;, verdana, arial, sans-serif; font-size: 12px; fill: rgb(68, 68, 68); fill-opacity: 1; white-space: pre; opacity: 1;" transform="translate(484.6,0)">Jan 31</text>
                                </g>
                                <g class="xtick">
                                    <text text-anchor="middle" x="0" y="333" data-unformatted="Feb 14" data-math="N" style="font-family: &quot;Open Sans&quot;, verdana, arial, sans-serif; font-size: 12px; fill: rgb(68, 68, 68); fill-opacity: 1; white-space: pre; opacity: 1;" transform="translate(587.5899999999999,0)">Feb 14</text>
                                </g>
                                <g class="xtick">
                                    <text text-anchor="middle" x="0" y="333" data-unformatted="Feb 28" data-math="N" style="font-family: &quot;Open Sans&quot;, verdana, arial, sans-serif; font-size: 12px; fill: rgb(68, 68, 68); fill-opacity: 1; white-space: pre; opacity: 1;" transform="translate(690.57,0)">Feb 28</text>
                                </g>
                            </g>
                            <g class="yaxislayer-above">
                                <g class="ytick">
                                <text text-anchor="end" x="79" y="4.199999999999999" data-unformatted="120" data-math="N" transform="translate(0,310.12)" style="font-family: &quot;Open Sans&quot;, verdana, arial, sans-serif; font-size: 12px; fill: rgb(68, 68, 68); fill-opacity: 1; white-space: pre; opacity: 1;">120</text>
                                </g>
                                <g class="ytick"><text text-anchor="end" x="79" y="4.199999999999999" data-unformatted="125" data-math="N" style="font-family: &quot;Open Sans&quot;, verdana, arial, sans-serif; font-size: 12px; fill: rgb(68, 68, 68); fill-opacity: 1; white-space: pre; opacity: 1;" transform="translate(0,267.13)">125</text>
                                </g>
                                <g class="ytick"><text text-anchor="end" x="79" y="4.199999999999999" data-unformatted="130" data-math="N" style="font-family: &quot;Open Sans&quot;, verdana, arial, sans-serif; font-size: 12px; fill: rgb(68, 68, 68); fill-opacity: 1; white-space: pre; opacity: 1;" transform="translate(0,224.14)">130</text>
                                </g>
                                <g class="ytick"><text text-anchor="end" x="79" y="4.199999999999999" data-unformatted="135" data-math="N" style="font-family: &quot;Open Sans&quot;, verdana, arial, sans-serif; font-size: 12px; fill: rgb(68, 68, 68); fill-opacity: 1; white-space: pre; opacity: 1;" transform="translate(0,181.16)">135</text>
                                </g>
                                <g class="ytick"><text text-anchor="end" x="79" y="4.199999999999999" data-unformatted="140" data-math="N" style="font-family: &quot;Open Sans&quot;, verdana, arial, sans-serif; font-size: 12px; fill: rgb(68, 68, 68); fill-opacity: 1; white-space: pre; opacity: 1;" transform="translate(0,138.17000000000002)">140</text>
                                </g>
                            </g>
                            <g class="overaxes-above"></g>
                        </g>
                    </g>
                    <g class="polarlayer"></g>
                    <g class="smithlayer"></g>
                    <g class="ternarylayer"></g>
                    <g class="geolayer"></g>
                    <g class="funnelarealayer"></g>
                    <g class="pielayer"></g>
                    <g class="iciclelayer"></g>
                    <g class="treemaplayer"></g>
                    <g class="sunburstlayer"></g>
                    <g class="glimages"></g>
                </svg>
                <div class="gl-container"></div>
                <svg class="main-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800" height="400">
                    <defs id="topdefs-d9e405">
                        <g class="clips"></g>
                    </defs>
                    <g class="indicatorlayer"></g>
                    <g class="layer-above">
                        <g class="imagelayer"></g>
                        <g class="shapelayer"></g>
                    </g>
                    <g class="selectionlayer"></g>
                    <g class="infolayer">
                        <g class="g-gtitle">
                            <text class="gtitle" x="400" y="50" text-anchor="middle" dy="0em" data-unformatted="Apple Stock Price History" data-math="N" style="font-family: &quot;Open Sans&quot;, verdana, arial, sans-serif; font-size: 17px; fill: rgb(68, 68, 68); opacity: 1; font-weight: normal; white-space: pre;">Apple Stock Price History</text>
                        </g>
                        <g class="g-xtitle"></g>
                        <g class="g-ytitle"></g>
                    </g>
                    <g class="menulayer"></g>
                    <g class="zoomlayer"></g>
                </svg>
                <div class="modebar-container" style="position: absolute; top: 0px; right: 0px; width: 100%;">
                    <div id="modebar-d9e405" class="modebar modebar--hover ease-bg">
                        <div class="modebar-group"><a rel="tooltip" class="modebar-btn" data-title="Download plot as a png" data-toggle="false" data-gravity="n">
                            <svg viewBox="0 0 1000 1000" class="icon" height="1em" width="1em">
                                <path d="m500 450c-83 0-150-67-150-150 0-83 67-150 150-150 83 0 150 67 150 150 0 83-67 150-150 150z m400 150h-120c-16 0-34 13-39 29l-31 93c-6 15-23 28-40 28h-340c-16 0-34-13-39-28l-31-94c-6-15-23-28-40-28h-120c-55 0-100-45-100-100v-450c0-55 45-100 100-100h800c55 0 100 45 100 100v450c0 55-45 100-100 100z m-400-550c-138 0-250 112-250 250 0 138 112 250 250 250 138 0 250-112 250-250 0-138-112-250-250-250z m365 380c-19 0-35 16-35 35 0 19 16 35 35 35 19 0 35-16 35-35 0-19-16-35-35-35z" transform="matrix(1 0 0 -1 0 850)"></path>
                            </svg>
                        </a>
                        </div>
                        <div class="modebar-group">
                            <a rel="tooltip" class="modebar-btn active" data-title="Zoom" data-attr="dragmode" data-val="zoom" data-toggle="false" data-gravity="n">
                                <svg viewBox="0 0 1000 1000" class="icon" height="1em" width="1em">
                                    <path d="m1000-25l-250 251c40 63 63 138 63 218 0 224-182 406-407 406-224 0-406-182-406-406s183-406 407-406c80 0 155 22 218 62l250-250 125 125z m-812 250l0 438 437 0 0-438-437 0z m62 375l313 0 0-312-313 0 0 312z" transform="matrix(1 0 0 -1 0 850)"></path>
                                </svg>
                            </a>
                            <a rel="tooltip" class="modebar-btn" data-title="Pan" data-attr="dragmode" data-val="pan" data-toggle="false" data-gravity="n">
                                <svg viewBox="0 0 1000 1000" class="icon" height="1em" width="1em">
                                    <path d="m1000 350l-187 188 0-125-250 0 0 250 125 0-188 187-187-187 125 0 0-250-250 0 0 125-188-188 186-187 0 125 252 0 0-250-125 0 187-188 188 188-125 0 0 250 250 0 0-126 187 188z" transform="matrix(1 0 0 -1 0 850)"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="modebar-group"><a rel="tooltip" class="modebar-btn" data-title="Zoom in" data-attr="zoom" data-val="in" data-toggle="false" data-gravity="n">
                            <svg viewBox="0 0 875 1000" class="icon" height="1em" width="1em">
                                <path d="m1 787l0-875 875 0 0 875-875 0z m687-500l-187 0 0-187-125 0 0 187-188 0 0 125 188 0 0 187 125 0 0-187 187 0 0-125z" transform="matrix(1 0 0 -1 0 850)"></path>
                            </svg>
                        </a>
                            <a rel="tooltip" class="modebar-btn" data-title="Zoom out" data-attr="zoom" data-val="out" data-toggle="false" data-gravity="n">
                                <svg viewBox="0 0 875 1000" class="icon" height="1em" width="1em"><path d="m0 788l0-876 875 0 0 876-875 0z m688-500l-500 0 0 125 500 0 0-125z" transform="matrix(1 0 0 -1 0 850)"></path>
                                </svg>
                            </a>
                            <a rel="tooltip" class="modebar-btn" data-title="Autoscale" data-attr="zoom" data-val="auto" data-toggle="false" data-gravity="n">
                                <svg viewBox="0 0 1000 1000" class="icon" height="1em" width="1em">
                                    <path d="m250 850l-187 0-63 0 0-62 0-188 63 0 0 188 187 0 0 62z m688 0l-188 0 0-62 188 0 0-188 62 0 0 188 0 62-62 0z m-875-938l0 188-63 0 0-188 0-62 63 0 187 0 0 62-187 0z m875 188l0-188-188 0 0-62 188 0 62 0 0 62 0 188-62 0z m-125 188l-1 0-93-94-156 156 156 156 92-93 2 0 0 250-250 0 0-2 93-92-156-156-156 156 94 92 0 2-250 0 0-250 0 0 93 93 157-156-157-156-93 94 0 0 0-250 250 0 0 0-94 93 156 157 156-157-93-93 0 0 250 0 0 250z" transform="matrix(1 0 0 -1 0 850)"></path>
                                </svg>
                            </a>
                            <a rel="tooltip" class="modebar-btn" data-title="Reset axes" data-attr="zoom" data-val="reset" data-toggle="false" data-gravity="n">
                                <svg viewBox="0 0 928.6 1000" class="icon" height="1em" width="1em">
                                    <path d="m786 296v-267q0-15-11-26t-25-10h-214v214h-143v-214h-214q-15 0-25 10t-11 26v267q0 1 0 2t0 2l321 264 321-264q1-1 1-4z m124 39l-34-41q-5-5-12-6h-2q-7 0-12 3l-386 322-386-322q-7-4-13-4-7 2-12 7l-35 41q-4 5-3 13t6 12l401 334q18 15 42 15t43-15l136-114v109q0 8 5 13t13 5h107q8 0 13-5t5-13v-227l122-102q5-5 6-12t-4-13z" transform="matrix(1 0 0 -1 0 850)"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="modebar-group">
                            <a href="https://plotly.com/" target="_blank" data-title="Produced with Plotly.js (v2.15.0)" class="modebar-btn plotlyjsicon modebar-btn--logo">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 132 132" height="1em" width="1em">
                                    <defs>
                                        <style>  .cls-0{fill:#000;}  .cls-1{fill:#FFF;}  .cls-2{fill:#F26;}  .cls-3{fill:#D69;}  .cls-4{fill:#BAC;}  .cls-5{fill:#9EF;} </style>
                                    </defs>
                                    <title>plotly-logomark</title>
                                    <g id="symbol">
                                        <rect class="cls-0" x="0" y="0" width="132" height="132" rx="18" ry="18"></rect>
                                        <circle class="cls-5" cx="102" cy="30" r="6"></circle>
                                        <circle class="cls-4" cx="78" cy="30" r="6"></circle>
                                        <circle class="cls-4" cx="78" cy="54" r="6"></circle>
                                        <circle class="cls-3" cx="54" cy="30" r="6"></circle>
                                        <circle class="cls-2" cx="30" cy="30" r="6"></circle>
                                        <circle class="cls-2" cx="30" cy="54" r="6"></circle>
                                        <path class="cls-1" d="M30,72a6,6,0,0,0-6,6v24a6,6,0,0,0,12,0V78A6,6,0,0,0,30,72Z"></path>
                                        <path class="cls-1" d="M78,72a6,6,0,0,0-6,6v24a6,6,0,0,0,12,0V78A6,6,0,0,0,78,72Z"></path>
                                        <path class="cls-1" d="M54,48a6,6,0,0,0-6,6v48a6,6,0,0,0,12,0V54A6,6,0,0,0,54,48Z"></path>
                                        <path class="cls-1" d="M102,48a6,6,0,0,0-6,6v48a6,6,0,0,0,12,0V54A6,6,0,0,0,102,48Z"></path>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <svg class="main-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="800" height="400">
                    <g class="hoverlayer"></g>
                </svg>
            </div>
        </div>
    </div>


    <div>
        <button id="submit-button">Submit</button>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <div>
        <a href="{{ url_for('blog.index') }}">Back to home</a>
    </div>
{% endblock %}

